
# ------------------------------
# inttelij
# ------------------------------
.idea
.project
.settings/

# ------------------------------
# other
# ------------------------------
temp.md
temp.sql
tmp*.md
gitignoredir/
tags
_ignore
